{% extends 'base.html.twig' %}

{% block title %}Match{% endblock %}

{% block body %}
        <h1 class="text-center">Like your project !</h1>
        <div class="container center">
        {% for interest in interests %}
        {% if loop.index == 1 %}
        <div class="card" style="width: 18rem;">
            <img src="https://placeimg.com/300/300/tech" class="card-img-top" alt="Tech">
            <div class="card-body">
                <h2 class="card-title">{{ interest.project.title}}</h2>
                <p class="card-text">{{ interest.project.topic }}</p>
                <p class="card-text">{{ interest.project.description }}</p>
                <p class="card-text"> {% for tech in interest.project.techno %}{{ tech }}{% endfor %}</p>
                <button>
                    <a href="{{ path('app_home_dislike_project', {'id': interest.id}) }}" class="btn btn-danger" value="dislike">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                        class="bi bi-file-x-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                    </a>
                </button>
                <button id="love">
                    <a href="{{ path('app_home_like_project', {'id': interest.id}) }}" class="btn btn-primary" value="like">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </a>
                </button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>

        {#<div class="tinder--buttons">
            <button id="nope"><i class="fa fa-remove"></i></button>
            <button id="love"><i class="fa fa-heart"></i></button>
        </div>#}
{% endblock %}
