{% extends 'base.html.twig' %}

{% block title %}Match{% endblock %}

{% block body %}
    {#<div class="tinder">
        <div class="tinder--status">
            <i class="fa fa-remove"></i>
            <i class="fa fa-heart"></i>
        </div>

        <div class="tinder--cards">
            <div class="tinder--card">
                <img src="https://placeimg.com/600/300/tech">
                <h3>Demo card 1</h3>
                <p>This is a demo for Tinder like swipe cards</p>
            </div>
        </div>#}
        <h1 class="text-center">Like your project !</h1>
        <div class="container center">
        {% for interest in interests %}
        <div class="card" style="width: 18rem;">
            <img src="https://placeimg.com/300/300/tech" class="card-img-top" alt="Tech">
            <div class="card-body">
                <h2 class="card-title">{{ interest.project.title}}</h2>
                <p class="card-text">{{ interest.project.topic }}</p>
                <p class="card-text">{{ interest.project.description }}</p>
                <p class="card-text"> {% for tech in interest.project.techno %}{{ tech }}{% endfor %}</p>
                <a href="#" class="btn btn-danger" value="dislike">Dislike</a>
                <a href="{{ path('app_home_like_project')}}" class="btn btn-primary" value="like">Like</a>
            </div>
        </div>
        {% endfor %}
        </div>

        {#<div class="tinder--buttons">
            <button id="nope"><i class="fa fa-remove"></i></button>
            <button id="love"><i class="fa fa-heart"></i></button>
        </div>
        
    </div>#}
{% endblock %}
