<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <li>
            <a href="{{ path('app_home_index') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('app_home_likes') }}">Mes likes</a>
        </li>
        <li>
            {% if app.user %}
                {{ app.user.email }}
                <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
            {% endif %}
        </li>
        <li>
            <a href="#">Gérer mes projets</a>
        </li>
    </ul>
</div>

<a href="#" id="openBtn">
	<span class="burger-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
</a>
