{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{#<div id="project-form" class="d-flex flex-column align-items-center m-5">
        
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.title)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.topic)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.agency)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.techno)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.description)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.meeting)}}
            </div>
        </div>
        
        
{{ form_rest(form) }}
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mt-4" value="Valider" />
        </div>
</div>
{{ form_end(form) }}#}
