{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Topic</th>
                <td>{{ project.topic }}</td>
            </tr>
            <tr>
                <th>Agency</th>
                <td>{{ project.agency }}</td>
            </tr>
            <tr>
                <th>Techno</th>
                <td>{#project.techno #}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Meeting</th>
                <td>{{ project.meeting }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_index') }}">back to list</a>

    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}

{% endblock %}
